*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: "/IMG-2023082-WA0039.jpg";
  background-color: #f29883;
}
div{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
p{
  font-size: 1.3rem;
  align-items: center;
}
i{
  font-size: 1.5rem;
  font-weight: 300;
  color: maroon;
}
img {
  margin: 10px;
  margin-left: 15%;
  margin-top: 15%;
  z-index: -1;
  width: 70%;
  border-radius: 10%;
}
@media (min-width: 800px) {
  body¨{
  display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    margin: 0px;
    margin-left: 5%;
    margin-top: 2%;
    z-index: -1;
    width: 40%;
    border-radius: 10%;
}
  div {
    padding-top: 3%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    width: 50%;
}


}
